<div class="container">
  <h1>Test Credit</h1>
  <ul>
    <li>Borrowed amount: <%= @credit.borrowed_amount %>€</li>
    <li>Duration: <%= @credit.duration %> months</li>
    <li>Nominal rate: <%= '%.2f' % @credit.nominal_rate %>%</li>
    <li>Guarantee fee: <%= @credit.guarantee_fee %>€</li>
    <li>Application fee: <%= @credit.application_fee %>€</li>
    <li>Insurance rate: <%= '%.2f' % @credit.insurance_rate %>%</li>
  </ul>

  <p>Insurance cost: <%= @credit.insurance_cost.to_i %>€</p>
  <p>Interest amount:</p>
  <p>Monthly instalment: <%= '%.2f' % @credit.interests %>€</p>
</div>
