<div class="container text-center py-3">
  <h1>Détails de votre prêt</h1>
</div>


<div class="container">
  <div class="details-credit-user my-5">
    <div class="card-info-credit">
      <p>Montant emprunté :</p>
      <span class="result-input-credit-user pb-3"><%= number_with_delimiter(@credit.borrowed_amount, delimiter: ' ') %>€</span>
    </div>
    <div class="card-info-credit">
      <p>Durée de l'emprunt :</p>
      <span class="result-input-credit-user pb-3"><%= @credit.duration_in_years %> ans</span>
    </div>
    <div class="card-info-credit">
      <p>Taux nominal :</p>
      <span class="result-input-credit-user pb-3"><%= @credit.nominal_rate %>%</span>
    </div>
    <div class="card-info-credit">
      <p>Frais de garantie :</p>
      <span class="result-input-credit-user pb-3"><%= number_with_delimiter(@credit.guarantee_fee, delimiter: ' ') %>€</span>
    </div>
    <div class="card-info-credit">
      <p>Frais de dossier :</p>
      <span class="result-input-credit-user pb-3"><%= number_with_delimiter(@credit.application_fee, delimiter: ' ') %>€</span>
    </div>
    <div class="card-info-credit">
      <p>Frais de courtage :</p>
      <span class="result-input-credit-user pb-3"><%= number_with_delimiter(@credit.brokerage_fee, delimiter: ' ') %>€</span>
    </div>
    <div class="card-info-credit">
      <p>Taux d'assurance :</p>
      <span class="result-input-credit-user pb-3"><%= @credit.insurance_rate %>%</span>
    </div>
  </div>

  <p>Coût assurance: <%= number_with_delimiter(@credit.insurance_cost.to_i, delimiter: ' ') %>€</p>
  <p>Montant des intérêts: <%= number_with_delimiter(@credit.interests_amount.round, delimiter: ' ') %>€</p>
  <br>
  <p>Mensualité: <%= number_with_delimiter(@credit.monthly_instalment, delimiter: ' ') %>€</p>
  <p>Mensualité avec assurance: <%= number_with_delimiter(@credit.monthly_instalment_w_insurance, delimiter: ' ') %>€</p>
  <br>
  <p>Coût du crédit sans assurance: <%= number_with_delimiter(@credit.credit_cost.round, delimiter: ' ') %>€</p>
  <p>Coût du crédit avec assurance: <%= number_with_delimiter(@credit.credit_cost_w_insurance.round, delimiter: ' ') %>€</p>
  <br>
  <p>Montant total à rembourser: <%= number_with_delimiter(@credit.include_all_fee.round, delimiter: ' ') %>€</p>
  <br>
  <h6>TAEG: <%= @credit.calculate_aprc.round(2) %>%</h6>

  <%= link_to 'Modifier informations', edit_credit_path(@credit) %>
</div>
